@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Estructura del Header */
.header-custom-s {
    font-family: 'Manrope', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #FFFFFF ;
    position: relative;
}

.header-custom-s .separator{
    width: 90%; /* Ajusta el ancho de la línea */
    height: 1px; /* Grosor de la línea */
    background-color: #0F161E; /* Color de la línea */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); /* Centrar la línea */

}
 
/* Logo */
.header-custom-s .logo a{
    all: unset;
    display: inline-block;
    cursor: pointer;
    font-size: 35px;
    font-weight: 700;
    color:#0F161E;
    margin-right: 5%;
}

.header-custom-s .logo a:hover{
    color: #FCE803; 
    background-color: transparent;
}

/* Menú de Navegación */
.header-custom-s nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.header-custom-s nav ul li {
    display: inline;
}

.header-custom-s nav ul li a {
    color: #0F161E;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
    padding: 5px 10px;
    border-radius: 5px;
}

.header-custom-s nav ul li a:hover {
    color: #FCE803; 
    background-color: transparent;
}

.header-custom-s .auth-buttons {
    display: flex;
    gap: 15px;
    margin-left: -10px;
    left: -10px;
}

.header-custom-s .login {
    background: transparent;
    color: #FCE803;
    border: 2px solid #FCE803;
    border-radius: 30px;
    padding: 5px 13px;
    text-decoration: none;
    text-align: center;
}

.header-custom-s .login:hover {
    background-color: #FCE803;
    color: #0F161E;
}

.header-custom-s .signup {
    background: transparent;
    color: #FCE803;
    border: 2px solid #FCE803;
    border-radius: 20px;
    padding: 5px 13px;
    text-decoration: none;
}

.header-custom-s .signup:hover {
    background-color: #FCE803;
    color: #0F161E;
}

.header-custom-s .user_menu{
    display: flex;
    align-items: center; /* Asegura que la imagen y el botón estén alineados */
    gap: 15px;
}

.header-custom-s .user_menu img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
     
    background: #ddd; /* Espacio reservado para imágenes */
    border: 1px solid #0F161E;
}

.header-custom-s .user_menu .btn-logout{
    background: transparent;
    color:  #0F161E;
    border: 0.5px solid  #0F161E;
    border-width: 30%;
    border-radius: 20px;
    padding: 5px 13px;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-custom-s .user_menu .btn-logout:hover {
    background-color: #0F161E;
    color: #FCE803;

}

/* Estilos Responsivos */
@media (max-width: 600px) {
    .header-custom-s {
        flex-direction: column;
        gap: 10px;
    }
}