html, body {
    margin: 0;
    padding: 0;
    height: 100%;
     
    background-color: #FFFF;
    width: 100%;
     
    overflow-y: auto; /* Habilita el scroll vertical */
    font-family: "Manrope", sans-serif;
}

main {
    
    margin-top: 80px;
    margin-left: 130px;
    margin-bottom: 150px;
}
