@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

 
  
  /* Asegura que el body no tenga margen */
  body {
    margin: 0;
    padding: 0;
    background-color: #ffff; /* o el color general de tu fondo */
    font-family: 'Manrope', sans-serif;
  }


/* Estructura del Header */
.header-custom-s {
    font-family: 'Manrope', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #FFFFFF ;
    position: relative;
    
}

.header-custom-s .separator{
    width: 78%; /* Ajusta el ancho de la línea */
    height: 1px; /* Grosor de la línea */
    background-color: #0F161E; /* Color de la línea */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); /* Centrar la línea */
    align-items: center;
    
}

.header-custom-s .navbar_search{
    position: relative;
    display: flex;
    align-items: center;
     
}

.header-custom-s .navbar_search input{
    width: 250px;
    padding: 8px 30px 8px 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    margin-left: 460px;
}

.header-custom-s .navbar_search .icon-search{
    position: absolute;
    right: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    transition: transform 0.2s ease-in-out;
}

.icon-search:hover {
    transform: scale(1.1);  
}
 
.header-custom-s .user_menu{
    display: flex;
    align-items: center; /* Asegura que la imagen y el botón estén alineados */
    gap: 15px;
    margin-right: 103px;
}

.header-custom-s .user_menu img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
     
    background: #ddd; /* Espacio reservado para imágenes */
    border: 1px solid #0F161E;
}

.header-custom-s .user_menu .btn-logout{
    background: transparent;
    color:  #0F161E;
    border: 0.5px solid  #0F161E;
    border-width: 30%;
    border-radius: 20px;
    padding: 5px 13px;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-custom-s .user_menu .btn-logout:hover {
    background-color: #0F161E;
    color: #FCE803;

}

/* Estilos Responsivos */
@media (max-width: 600px) {
    .header-custom-s {
        flex-direction: column;
        gap: 10px;
    }
}





/*Estilos Informacion*/
.informacion-A {
    font-family: 'Manrope', sans-serif;
    max-width: 700px;
    margin-top: 80px;
    margin-bottom: 2px;
    text-align: justify;
    margin-left: 145px;
}
  
  .informacion-A h2 {
    color: #0F161E;
    font-size: 75px;
    font-weight: 800;
    margin-bottom: 7px;
}
  
  .informacion-A .subtitulo {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 3px;
    color: #0F161E;
}
  
  .informacion-A .descripcion {
    font-size: 17px;
    color: #8f8e8e;
    margin-bottom: -55px;
}

.informacion-B {
    font-family: 'Manrope', sans-serif;
    max-width: 800px;
    margin-top: 80px;
    margin-bottom: 2px;
    text-align: justify;
    margin-left: 145px;
}
   
  .informacion-B .subtitulo {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 3px;
    color: #0F161E;
}
  
  .informacion-B .descripcion {
    font-size: 17px;
    color: #8f8e8e;
    margin-bottom: -55px;
}


.informacion-C {
    font-family: 'Manrope', sans-serif;
    max-width: 800px;
    margin-top: 80px;
    margin-bottom: 2px;
    text-align: justify;
    margin-left: 145px;
}
   
  .informacion-C .subtitulo {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 3px;
    color: #0F161E;
}
  
  .informacion-C .descripcion {
    font-size: 17px;
    color: #8f8e8e;
    margin-bottom: -55px;
}


/* Estilos Carousel */
.Carousel-section {
    font-family: 'Manrope', sans-serif;
    background-color:#FFFFFF;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 10%;
    margin-bottom: -20%;
    width: 100%;
}

.Carousel-section h2 {
    font-size: 15px; /* Ajusta el tamaño del texto */
    margin-top: 200px; /* Ajusta el margen superior */
    margin-bottom: 125px; /* Ajusta el margen inferior */
    text-align: center; /* Justifica el texto */
    color: #1F1D2B;
    position: relative; /* Ajusta la posición, puedes usar valores como 'absolute' si necesitas */
    /* Agrega otras propiedades de posición según tus necesidades */
}
 
.Carousel-section h3 {
    font-size: 25px; /* Ajusta el tamaño del texto */
    margin-top: 150px; /* Ajusta el margen superior */
    margin-bottom: -225px; /* Ajusta el margen inferior */
    text-align: center; /* Justifica el texto */
    color: #1F1D2B;
    position: relative; /* Ajusta la posición, puedes usar valores como 'absolute' si necesitas */
    /* Agrega otras propiedades de posición según tus necesidades */
}
 

.Carousel-section .swiper {
    width: 80%;
    max-width: 1200px;
}

.Carousel-section .swiper-slide {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    position: relative;
    width: 320px; /*ancho de la card*/
}

.Carousel-section .swiper-slide img {
    max-width: 120%; /*tamaño de la imagen*/
    border-radius: 10px;
    margin-bottom: 10px;
}

.Carousel-section .offer-icon img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent; /*color del fondo icono*/
    border-radius: 50%; /*redondea los bordes del icono*/
}

.Carousel-section .title {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    text-align: justify;
    margin-bottom: 7px;
}

.Carousel-section .id {
    font-size: 14px;
    color: #999;
    text-align: justify;
    margin-top: 6px;
}

.Carousel-section .rating {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 0;
    margin-top: -5%;
}

.Carousel-section .rating-row {
    display: flex;
    align-items: center;
    margin-top: -2%;
}

.Carousel-section .rating img {
    width: 20px;
    height: 20px;
    margin-top: 11px;
    margin-right: 5px;
}

.Carousel-section .stars {
    color: #FFD700;
    margin-bottom: 4px;
}

.Carousel-section .reviews {
    color: #555;
    text-decoration: none;
    font-size: 13px;
}

.Carousel-section .price-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 15px 0;
    margin-top: -10%;
}

.Carousel-section .old-price {
    text-decoration: line-through;
    color: #999;
    margin-right: 10px;
    font-size: 20;
}

.Carousel-section .discount {
    color: #333;
    font-size: 6;
    background-color: #FFD700;
    padding: auto;
}

.Carousel-section .new-price {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-right: 10px;
    text-align: justify;
    flex-grow: 1;
    margin-top: -12%;
}

.Carousel-section .cart-button {
    background-color: #FFD700;
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-top: -30%;
    margin-right: 2%;
}

.Carousel-section .cart-button img {
    width: 25px;
    height: 25px;
    margin: 0;
}

.Carousel-section .cart-button:hover {
    background-color: #FFC107;
}

.Carousel-section .swiper-pagination {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}

.Carousel-section .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #fff;
    opacity: 0.5;
    border-radius: 50%;
    margin: 0 5px;
    transition: opacity 0.3s ease;
}

.Carousel-section .swiper-pagination-bullet-active {
    opacity: 1;
    background: #ffcc00;
}





 

/* Estilos Generales del Footer */
.footer-section {
    font-family: 'Manrope', sans-serif;
    background-color: #0F161E;
    display: block;
    color: #FFFFFF;
    padding: 40px 30px;
    padding-bottom: 40px;
    margin-top: 180px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

/* Sección del Logo */
.footer-logo h2 {
    color: #FCE803;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: -115px;
    margin-top: -15px;
    text-align: left;
    margin-right: -160;
}

/* Columnas1 del Footer */
.footer-column1 h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #FFFFFF;
}
.footer-column1 ul {
    list-style: none;
    padding: 0;
}
.footer-column1 li {
    margin-bottom: 10px;
}
.footer-column1 a {
    color: #81859C;
    text-decoration: none;
    transition: color 0.3s;
}
.footer-column1 a:hover {
    color: #FCE803;
}


/* Columnas del Footer */
.footer-column{
    margin-top: -87px;
     
}

.footer-column h3 {
    font-size: 18px;
    text-align: left;
    margin-bottom: 15px;
    color: #FFFFFF;
}
.footer-column ul {
    list-style: none;
    padding: 0;
}
.footer-column li {
    margin-bottom: 10px;
}
.footer-column a {
    color: #81859C;
    text-decoration: none;
    transition: color 0.3s;
}
.footer-column a:hover {
    color: #FCE803;
}

/* Sección de Redes Sociales */
.footer-social{
    text-align: center;
    margin-top: -29px
}

.footer-social h3 {
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
    color: #FFFFFF;
}
.footer-social ul {
    list-style: none;
    padding: 0;
}
.footer-social li {
    margin-bottom: 10px;
}
.footer-social a {
    color: #81859C;
    text-decoration: none;
    transition: color 0.3s;
}
.footer-social a:hover {
    color: #FCE803;
}

.footer-social .social-icons{  
    display: inline-flex;
    gap: 2px;  

}
.footer-social .social-icons a {
    margin-right: 10px;    
    display: flex;
    align-items: center; 
}
.footer-social img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
    transition: transform 0.2s;
}
.footer-social img:hover {
    transform: scale(1.2);
}

/* Derechos Reservados */
.footer-social p {
    margin-top: 20px;
    font-size: 14px;
    color: #81859C;
}

/* Responsividad */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
    }
}