@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.clients {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #0c0f16;
    text-align: center;
}

.clients .clients-section {
    padding: 50px 20px;
}

.clients .clients-section h2 {
    margin-bottom: 30px;
    margin-top: -20px;
    text-align: center;
    font-size: 65px;
    font-weight: 800;
}

.clients .clients-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 900px;
    margin: auto;
    margin-bottom: 100px;
    gap: 30px;
}

.clients .clients-box {
    flex: 1;
    min-width: 300px;
    text-align: left;
}

.clients .clients-box h3 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

 
.clients .clients-box p, .clients .clients-box ul {
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
}

.clients .clients-box ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* cliente-box2 */

.clients .clients-box2 {
    flex: 1;
    min-width: 300px;
    text-align: left;
    margin-left: 50px;
}

 

.clients .clients-box2 h4 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.clients .clients-box2 p, .clients .clients-box2 ul {
    font-size: 13px;
    line-height: 1.5;
    text-align: center;
}

.clients .clients-box2 ul {
    list-style-type: disc;
    padding-left: 20px;
}



.clients .separator {
    width: 1px;
    background-color: black;
    height: 200px;
    display: none;
    margin-left: 35px;
}

.clients .meet-team {
    margin-top: 30px;
    text-align: center;
    font-size: 65px;
    font-weight: 800;
}

/* Responsive */
@media (min-width: 768px) {
    .clients .clients-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
    }

    .clients .separator {
        display: block;
    }
}
