@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.how-it-works {
    font-family: 'Manrope', sans-serif;
    background-color: #0F161E;
    color: white;
    text-align: center;
    padding: 50px 20px;
    max-height: 1200px;
    height: 100%;

}

.steps-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 60px;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: auto;
    margin-top:70px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.step-circle {
    width: 160px;
    height: 160px;
    background-color: #FCE803;
    color: black;
    font-size:63px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 15px;
}

.step-text {
    font-size: 15px;
    max-width: 180px;
}

 